/* =========================
   RESET
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #f4f1ea; /* ton papier crème */
    color: #222;
}

/* =========================
   BANNIÈRE
========================= */
#banner img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

/* ===*









